<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212265554291-pa0mh43s1o8cnl9ap4gntuhl0d2a4gr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212265554291-pa0mh43s1o8cnl9ap4gntuhl0d2a4gr3</string>
	<key>API_KEY</key>
	<string>AIzaSyCXzER5eHFEelGk5H0nalryKQTzqXTJI68</string>
	<key>GCM_SENDER_ID</key>
	<string>212265554291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartnfc</string>
	<key>PROJECT_ID</key>
	<string>smart-nfc-51c54</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-nfc-51c54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212265554291:ios:c83bf49460171cc872f506</string>
</dict>
</plist>